body {
    margin: 0;
    background: pink;
    text-align: center;
    
#banner {
    background: url(IMG-20210703-WA0007.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
}
    
