body {
    margin: 0;
    background: pink;
    text-align: center;
    
#banner {
    background: url(https://github.com/aparameter/emotio/blob/24e7bd9ff14366dc9dbe80314ab6a577f525ff7a/IMG-20210703-WA0007.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
}
    
